# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Data files
big_vsop.bin
vsop.bin
ps_1996.dat
elp82.dat

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

adestest
astcheck
astephem
calendar
cgicheck
colors
colors2
cosptest
de_plan
dist
easter
get_test
htc20b
integrat
jd
jevent
jpl2b32
jsattest
lun_test
marstime
mpc2sof
mpc_code
oblitest
persian
phases
prectest
prectes2
ps_1996
ssattest
tables
testprec
test_ref
uranus1
utc_test
vislimit
