name: Build

on: [push, pull_request]

jobs:
  buildUbuntu:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    - name: make
      run: make
      
  buildOSX:
    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@master
    - name: make
      run: make CLANG=Y
      
  buildWindows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@master
    - name: make
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
        nmake -f lunar.mak
